@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Oswald:wght@700&family=Poppins:wght@100&display=swap');


html {
    scroll-behavior: smooth;
  }
  body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }
  .navbar {
    font-weight: bold;
    color: black;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #d4d7de;
    width: 100%;
    height: 70px;
    z-index: 1;
  }
  .nav {
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 15%;
  }
  .logo {
    color: rgb(48, 47, 47);
    flex: 1 1 auto;
    margin-left: 10%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 35px;
    font-family:monospace;
  }
  img {
    width: 10%;
  }
  a {
    margin: 15px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
  }
  a:hover {
    color: rgb(255, 255, 255);
  }
  .banner-area {
    opacity: 50%;
    margin-left: 700px;
    position:relative;
    background-image: url(./image/logo-cogip.png);
    width: 40%;
    height: 40vh;
    background-repeat: no-repeat;
    background-size:contain;
  }
    footer{
        color: black;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: #9a9c9e;
        width: 100%;
        font-size: 20px;
        font-weight: bold;
        height: 70px;
        z-index: 1;
        bottom: 0;
    } 
    
    h3 {
        font-family: 'Poppins', sans-serif;
    }

    .content {
      font-family: 'Poppins', sans-serif;
      font-weight: bold;
      border: solid black;
      border-width: 3px;
    }
